<html>

<head>
    <title>Transcriber</title>
    <script src="js/socketio.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <div id="app">
        <!-- Check if speech recognition is supported -->
        <div v-if="!getSpeechRecognition">
            <h2>Your browser does not support speech recognition</h2>
            <p>Chrome currently supports the SpeechRecognition API</p>
        </div>
        <template v-else>
            <div id="top-part">
                <div>
                    <label class="label">Toggle microphone</label>
                    <div @click="listening = !listening" :class="['mic', listening?'on':'off']"></div>
                </div>
                <div>
                    <img v-if="avatar" :src="avatar" class="avatar">
                </div>
            </div>


            <!-- Discord information selection -->
            <div class='form'>
                <div class="grid">
                    <div class="group">
                        <label class="label">Guild</label>
                        <input :class="{valid: guild}" id="guildID" type="text" v-model="guildID" placeholder="guild id">
                    </div>
                    <div class="group">
                        <label class="label">Text channel</label>
                        <input :class="{valid: channel}" id="channelID" type="text" v-model="channelID" placeholder="text channel id">
                    </div>
                    <!-- <div class="group">
                        <label class="label">Voice channel</label>
                        <input id="voiceChannelID" type="text" v-model="voiceChannelID" placeholder="voice channel id">
                    </div> -->
                </div>
            </div>

            <label class="label">Transcript</label>
            <div class='results'>
                <template v-for="(r, i) in results.slice().reverse()">
                    <p :style="'opacity: ' + (1-((i/10)*0.9+0.1))">{{r}}</p>
                </template>
            </div>
        </template>
    </div>

    <!-- Import after body loads so the template renders -->
    <script src="js/index.js"></script>
</body>

</html>